<html>
<head>
    <title>Autonomes Fahrzeug - PREN 2 - Team 37</title>
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery-ui-1.10.2.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='spectrum.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.toast.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='spectrum.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Aristo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.toast.css') }}">
</head>
<body class="ui-form">
<style>
    input[type=text] {

    }
</style>
<h1>Control-Interface : Autonomes Fahrzeug - PREN 2 - Team 37</h1>
<div id="tabs">
    <ul>
        <!-- <li><a href="#tabs-1">Images</a></li>
        <li><a href="#tabs-2">Video</a></li>
        <li><a href="#tabs-3">Stream</a></li>-->
        <li><a href="#tabs-4" id="LiveView">LiveView</a></li>
        <li><a href="#tabs-5" id="Control">Control</a></li>
        <li><a href="#tabs-6" id="Config">Config</a></li>
    </ul>
    <!--<div id="tabs-1">
        <img height="480" width="640" src="{{ url_for('img_feed') }}" onerror="this.style.display='none';"></br>
        <table>
            <tr>
                <form id="images_start_form" action="/start_images" method="post">
                    <td>
                        <button type="submit" value="Start">Start</button>
                    </td>
                    <td><input type="checkbox" name="preview" value="img"> Show preview</td>
                </form>
            </tr>
            <tr>
                <form id="images_stop_form" action="/stop_images" method="post">
                    <td>
                        <button type="submit" value="Stop">Stop</button>
                    </td>
                </form>
            </tr>
        </table>
    </div>
    <div id="tabs-2">
        <img height="480" width="640" src="{{ url_for('video_feed') }}" onerror="this.style.display='none';"></br>
        <table>
            <tr>
                <form id="video_start_form" action="/start_video" method="post">
                    <td>
                        <button type="submit" value="Start">Start</button>
                    </td>
                    <td><input type="checkbox" name="preview" value="video"> Show preview</td>
                </form>
            </tr>
            <tr>
                <form id="video_stop_form" action="/stop_video" method="post">
                    <td>
                        <button type="submit" value="Stop">Stop</button>
                    </td>
                </form>
            </tr>
        </table>
    </div>
    <div id="tabs-3">
        <img height="480" width="640" src="{{ url_for('stream_feed') }}" onerror="this.style.display='none';"></br>
        <table>
            <tr>
                <form id="stream_start_form" action="/start_stream" method="post">
                    <td>
                        <button type="submit" value="Start">Start</button>
                    </td>
                    <td><input type="checkbox" name="preview" value="stream"> Show preview</td>
                </form>
            </tr>
            <tr>
                <form id="stream_stop_form" action="/stop_stream" method="post">
                    <td>
                        <button type="submit" value="Stop">Stop</button>
                    </td>
                </form>
            </tr>
        </table>
    </div>-->
    <div id="tabs-4">
        <img height="480" width="640" src="{{ url_for('pi_feed') }}" onerror="this.style.display='none';"></br>
        <table>
            <tr>
                <form id="pi_start_form" action="/start_pi" method="post">
                    <td>
                        <button type="submit" value="Start">Start</button>
                    </td>
                </form>
                <form id="pi_stop_form" action="/stop_pi" method="post">
                    <td>
                        <button type="submit" value="Stop">Stop</button>
                    </td>
                </form>
            </tr>
        </table>
    </div>
    <div id="tabs-5">
        <form id="steering_form">
            <div>
                <table>
                    <tr>
                        <td style="vertical-align: top;">
                            <h3>General</h3>
                            <table>
                                <tr>
                                    <td>Serial Communication established:</td>
                                    <td><input type="checkbox" name="serial_hello" id="serial_hello" value="{{ 0 }}"></td>
                                </tr>
                                <tr>
                                    <td>Start Command set:</td>
                                    <td><input type="checkbox" name="serial_start" id="serial_start" value="{{ 0 }}"></td>
                                </tr>
                                <tr>
                                    <td>Course Selection:</td>
                                    <td><input type="radio" name="serial_course" id="serial_course_l" value="{{ 0 }}">Left</td>
                                    <td><input type="radio" name="serial_course" id="serial_course_r" value="{{ 0 }}">Right</td>
                                </tr>
                                <tr>
                                    <td>Letter:</td>
                                    <td>Soll:<input type="text" name="serial_letter_s" id="serial_letter_s"
                                                    value="{{ 0 }}"> <br/>&nbsp;&nbsp;Ist:<input type="text"
                                                                                                       name="serial_letter_i"
                                                                                                       id="serial_letter_i"
                                                                                                       value="{{ 0 }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Parcours state:</td>
                                    <td><input type="text" name="serial_parcours" id="serial_parcours" value="{{ 0 }}"></td>
                                </tr>
                                <tr>
                                    <td>Errors:</td>
                                    <td><textarea name="serial_errors" id="serial_errors" value="{{ 0 }}"></textarea></td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding-left: 25px; vertical-align: top;">
                            <h3>Distance sensors</h3>
                            <table>
                                <tr>
                                    <td> ToF distance (mm)</td>
                                    <td>Soll:<input type="text" name="serial_tof_l_s" id="serial_tof_l_s" value="{{ 0 }}"></td>
                                </tr>
                                <tr>
                                    <td>ToF distance left (mm):</td>
                                    <td>&nbsp;Ist: <input type="text" name="serial_tof_l_i" id="serial_tof_l_i" value="{{ 0 }}"></td>
                                </tr>
                                <tr>
                                    <td>ToF distance right (mm):</td>
                                    <td>&nbsp;Ist: <input type="text" name="serial_tof_r_i" id="serial_tof_r_i" value="{{ 0 }}"></td>
                                </tr>
                                <tr>
                                    <td>ToF distance front (mm):</td>
                                    <td>Soll:<input type="text" name="serial_tof_f_s" id="serial_tof_f_s"
                                                    value="{{ 0 }}"> <br/>&nbsp;Ist: <input type="text"
                                                                                                        name="serial_tof_f_i"
                                                                                                        id="serial_tof_f_i"
                                                                                                        value="{{ 0 }}">
                                    </td>
                                </tr>
                            </table>
                            <h3>Gyro / Gyroskop</h3>
                            <table>
                                <tr>
                                    <td>Gyroskop - PWM level (%)</td>
                                    <td>Soll: <input type="text" name="serial_gyroskop_s" id="serial_gyroskop_s"
                                                     value="{{ 0 }}"> <br/>&nbsp;&nbsp;Ist: <input type="text"
                                                                                                         name="serial_gyroskop_i"
                                                                                                         id="serial_gyroskop_i"
                                                                                                         value="{{ 0 }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gyro - NICK (°)</td>
                                    <td>&nbsp;&nbsp;&nbsp;Ist:<input type="text" name="serial_gyro_n" id="serial_gyro_n"
                                                   value="{{ 0 }}"></td>
                                </tr>
                                <tr>
                                    <td>Gyro - GEAR (°)</td>
                                    <td>&nbsp;&nbsp;&nbsp;Ist:<input type="text" name="serial_gyro_g" id="serial_gyro_g"
                                                   value="{{ 0 }}"></td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding-left: 25px; vertical-align: top;">
                            <h3>Engines</h3>
                            <table>
                                <tr>
                                    <td> Speed (%):</td>
                                    <td>Soll:<input type="text" name="serial_raupe_l_s" id="serial_raupe_l_s" value="{{ 0 }}"></td>
                                </tr>
                                <tr>
                                    <td>Speed Left Track (%):</td>
                                    <td>&nbsp;&nbsp;Ist: <input type="text" name="serial_raupe_l_i" id="serial_raupe_l_i" value="{{ 0 }}"></td>
                                </tr>
                                <tr>
                                    <td>Speed Right Track (%):</td>
                                    <td>&nbsp;&nbsp;Ist: <input type="text" name="serial_raupe_r_i" id="serial_raupe_r_i" value="{{ 0 }}"></td>
                                </tr>
                            </table>
                            <h3>Servo</h3>
                            <table>
                                <tr>
                                    <td>Angle servo:</td>
                                    <td>Soll:<input type="text" name="serial_servo_s" id="serial_servo_s"
                                                    value="{{ 0 }}"> <br/>&nbsp;Ist: <input type="text"
                                                                                                        name="serial_servo_i"
                                                                                                        id="serial_servo_i"
                                                                                                        value="{{ 0 }}">
                                    </td>
                                </tr>
                            </table>
                            <h3>PID Werte</h3>
                            <table>
                                <tr>
                                    <td>
                                    <h4>Gyro</h4>
                                    P Soll:<input type="text" name="serial_gyrop_s" id="serial_gyrop_s" value="{{ 0 }}"> <br/>
                                    &nbsp;&nbsp;I Soll:<input type="text" name="serial_gyroi_s" id="serial_gyroi_s" value="{{ 0 }}"> <br/>
                                    D Soll:<input type="text" name="serial_gyrod_s" id="serial_gyrod_s" value="{{ 0 }}"> <br/>
                                    &nbsp;&nbsp;P Ist:<input type="text" name="serial_gyrop_i" id="serial_gyrop_i" value="{{ 0 }}"> <br/>
                                    &nbsp;&nbsp;&nbsp;I Ist:<input type="text" name="serial_gyroi_i" id="serial_gyroi_i" value="{{ 0 }}"> <br/>
                                    D Soll:<input type="text" name="serial_gyrod_i" id="serial_gyrod_i" value="{{ 0 }}"> <br/>
                                    </td>

                                    <td>
                                    <h4>ToF</h4>
                                    P Soll:<input type="text" name="serial_tofp_s" id="serial_tofp_s" value="{{ 0 }}"> <br/>
                                    &nbsp;&nbsp;I Soll:<input type="text" name="serial_tofi_s" id="serial_tofi_s" value="{{ 0 }}"> <br/>
                                    D Soll:<input type="text" name="serial_tofd_s" id="serial_tofd_s" value="{{ 0 }}"> <br/>
                                    &nbsp;&nbsp;P Ist:<input type="text" name="serial_tofp_i" id="serial_tofp_i" value="{{ 0 }}"> <br/>
                                    &nbsp;&nbsp;&nbsp;I Ist:<input type="text" name="serial_tofi_i" id="serial_tofi_i" value="{{ 0 }}"> <br/>
                                    D Soll:<input type="text" name="serial_tofd_i" id="serial_tofd_i" value="{{ 0 }}"> <br/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <div id="tabs-6">
        <form id="save_form">
            <div id="accordion">
                <h3>General - Settings</h3>
                <div>
                    <table>
                        <tr>
                            <td>Title:</td>
                            <td><input type="text" name="settings_title" value="{{ settings_title }}"></td>
                        </tr>
                        <tr>
                            <td>Project:</td>
                            <td><input type="text" name="settings_project" value="{{ settings_project }}"></td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td><input type="text" name="settings_description" value="{{ settings_description }}"></td>
                        </tr>
                        <tr>
                            <td>Copyright:</td>
                            <td><input type="text" name="settings_copyright" value="{{ settings_copyright }}"></td>
                        </tr>
                        <tr>
                            <td>Loglevel:</td>
                            <td><input id="settings_loglevel" class="spinner" name="settings_loglevel"
                                       value="{{ settings_loglevel }}"></td>
                        </tr>
                        <tr>
                            <td>Debug:</td>
                            <td><input type="checkbox" name="settings_debug" value="settings_debug" {{ settings_debug }}></td>
                        </tr>
                    </table>
                </div>
                <h3>General - Color BGR values</h3>
                <div>
                    <table>
                        <tr>
                            <td>Black:</td>
                            <td><input type="text" id="color_black" class="colorbgr" name="color_black" value="{{ color_black }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Black low:</td>
                            <td><input type="text" id="color_black_low" class="colorbgr" name="color_black_low"
                                       value="{{ color_black_low }}"></td>
                        </tr>
                        <tr>
                            <td>Black high:</td>
                            <td><input type="text" id="color_black_high" class="colorbgr" name="color_black_high"
                                       value="{{ color_black_high }}"></td>
                        </tr>
                        <tr>
                            <td>White:</td>
                            <td><input type="text" id="color_white" class="colorbgr" name="color_white" value="{{ color_white }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Red:</td>
                            <td><input type="text" id="color_red" class="colorbgr" name="color_red" value="{{ color_red }}"></td>
                        </tr>
                        <tr>
                            <td>Green:</td>
                            <td><input type="text" id="color_green" class="colorbgr" name="color_green" value="{{ color_green }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Blue:</td>
                            <td><input type="text" id="color_blue" class="colorbgr" name="color_blue" value="{{ color_blue }}"></td>
                        </tr>
                        <tr>
                            <td>Cyan:</td>
                            <td><input type="text" id="color_cyan" class="colorbgr" name="color_cyan" value="{{ color_cyan }}"></td>
                        </tr>
                        <tr>
                            <td>Magenta:</td>
                            <td><input type="text" id="color_magenta" class="colorbgr" name="color_magenta"
                                       value="{{ color_magenta }}"></td>
                        </tr>
                        <tr>
                            <td>Yellow:</td>
                            <td><input type="text" id="color_yellow" class="colorbgr" name="color_yellow"
                                       value="{{ color_yellow }}"></td>
                        </tr>
                        <tr>
                            <td>Gray:</td>
                            <td><input type="text" id="color_gray" class="colorbgr" name="color_gray" value="{{ color_gray }}"></td>
                        </tr>
                        <tr>
                            <td>Orange:</td>
                            <td><input type="text" id="color_orange" class="colorbgr" name="color_orange"
                                       value="{{ color_orange }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>IT - TrafficlightDetection - Color HSV mask values</h3>
                <div>
                    <table>
                        <tr>
                            <td>Low red mask minimal value:</td>
                            <td><input type="text" id="mask_trafficlight_red_low_l" class="colorhsv"
                                       name="mask_trafficlight_red_low_l" value="{{ mask_trafficlight_red_low_l }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Low red mask maximal value:</td>
                            <td><input type="text" id="mask_trafficlight_red_low_h" class="colorhsv"
                                       name="mask_trafficlight_red_low_h" value="{{ mask_trafficlight_red_low_h }}"></td>
                        </tr>
                        <tr>
                            <td>High red mask minimal value:</td>
                            <td><input type="text" id="mask_trafficlight_red_high_l" class="colorhsv"
                                       name="mask_trafficlight_red_high_l" value="{{ mask_trafficlight_red_high_l }}"></td>
                        </tr>
                        <tr>
                            <td>High red mask maximal value:</td>
                            <td><input type="text" id="mask_trafficlight_red_high_h" class="colorhsv"
                                       name="mask_trafficlight_red_high_h" value="{{ mask_trafficlight_red_high_h }}"></td>
                        </tr>
                        <tr>
                            <td>Green mask minimal value:</td>
                            <td><input type="text" id="mask_trafficlight_green_l" class="colorhsv"
                                       name="mask_trafficlight_green_l" value="{{ mask_trafficlight_green_l }}"></td>
                        </tr>
                        <tr>
                            <td>Green mask maximal value:</td>
                            <td><input type="text" id="mask_trafficlight_green_h" class="colorhsv"
                                       name="mask_trafficlight_green_h" value="{{ mask_trafficlight_green_h }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>IT - TrafficlightDetection - Cropimage</h3>
                <div>
                    <table>
                        <tr>
                            <td>Height:</td>
                            <td><input class="spinner" name="cropimage_height" value="{{ cropimage_height }}"></td>
                        </tr>
                        <tr>
                            <td>Width:</td>
                            <td><input class="spinner" name="cropimage_width" value="{{ cropimage_width }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>IT - LetterDetection - Color HSV mask values</h3>
                <div>
                    <table>
                        <tr>
                            <td>Low red mask minimal value:</td>
                            <td><input type="text" id="mask_letter_red_low_l" class="colorhsv" name="mask_letter_red_low_l"
                                       value="{{ mask_letter_red_low_l }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Low red mask maximal value:</td>
                            <td><input type="text" id="mask_letter_red_low_h" class="colorhsv" name="mask_letter_red_low_h"
                                       value="{{ mask_letter_red_low_h }}"></td>
                        </tr>
                        <tr>
                            <td>High red mask minimal value:</td>
                            <td><input type="text" id="mask_letter_red_high_l" class="colorhsv" name="mask_letter_red_high_l"
                                       value="{{ mask_letter_red_high_l }}"></td>
                        </tr>
                        <tr>
                            <td>High red mask maximal value:</td>
                            <td><input type="text" id="mask_letter_red_high_h" class="colorhsv" name="mask_letter_red_high_h"
                                       value="{{ mask_letter_red_high_h }}"></td>
                        </tr>
                        <tr>
                            <td>Red mask shift minimal value:</td>
                            <td><input type="text" id="mask_letter_red_shift_l" class="colorhsv" name="mask_letter_red_shift_l"
                                       value="{{ mask_letter_red_shift_l }}"></td>
                        </tr>
                        <tr>
                            <td>Red mask shift maximal value:</td>
                            <td><input type="text" id="mask_letter_red_shift_h" class="colorhsv" name="mask_letter_red_shift_h"
                                       value="{{ mask_letter_red_shift_h }}"></td>
                        </tr>
                        <tr>
                            <td>Red low full value:</td>
                            <td><input type="text" id="mask_letter_red_low_full" class="colorhsv" name="mask_letter_red_low_full"
                                       value="{{ mask_letter_red_low_full }}"></td>
                        </tr>
                        <tr>
                            <td>Red high full value:</td>
                            <td><input type="text" id="mask_letter_red_high_full" class="colorhsv" name="mask_letter_red_high_full"
                                       value="{{ mask_letter_red_high_full }}"></td>
                        </tr>
                        <tr>
                            <td>Minimal areasize in pixel for mask:</td>
                            <td><input class="spinner" id="mask_letter_min_maskarea_size" name="mask_letter_min_maskarea_size"
                                       value="{{ mask_letter_min_maskarea_size }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>IT - LetterDetection - Processing</h3>
                <div>
                    <table>
                        <tr>
                            <td>Tolerance gap for letter I:</td>
                            <td><input class="spinner" id="letter_tolerance_i_gap" name="letter_tolerance_i_gap"
                                       value="{{ letter_tolerance_i_gap }}"></td>
                        </tr>
                        <tr>
                            <td>Tolerance gap for letter V:</td>
                            <td><input class="spinner" id="letter_tolerance_v_gap" name="letter_tolerance_v_gap"
                                       value="{{ letter_tolerance_v_gap }}"></td>
                        </tr>
                        <tr>
                            <td>Minimal amount of letters to process:</td>
                            <td><input class="spinner" id="letter_min_amount_processed_letters" name="letter_min_amount_processed_letters"
                                       value="{{ letter_min_amount_processed_letters }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>IT - Debug &amp; Logging</h3>
                <div>
                    <table>
                        <tr>
                            <td>Write red filtered image when red detected:</td>
                            <td><input type="checkbox" name="debug_output_red" value="debug_output_red" {{ debug_output_red }}></td>
                        </tr>
                        <tr>
                            <td>Write green filtered image when green detected:</td>
                            <td><input type="checkbox" name="debug_output_green" value="debug_output_green" {{ debug_output_green }}></td>
                        </tr>
                        <tr>
                            <td>Set background white when writing image:</td>
                            <td><input type="checkbox" name="debug_output_bgwhite" value="debug_output_bgwhite" {{ debug_output_bgwhite }}></td>
                        </tr>
                        <tr>
                            <td>Path to logging.ini:</td>
                            <td><input type="text" name="debug_logging_config" value="{{ debug_logging_config }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>IT - Camera</h3>
                <div>
                    <table>
                        <tr>
                            <td>Width:</td>
                            <td><input class="spinner" name="camera_width" value="{{ camera_width }}"></td>
                        </tr>
                        <tr>
                            <td>Height:</td>
                            <td><input class="spinner" name="camera_height" value="{{ camera_height }}"></td>
                        </tr>
                        <tr>
                            <td>Framerate:</td>
                            <td><input class="spinner" name="camera_framerate" value="{{ camera_framerate }}"></td>
                        </tr>
                        <tr>
                            <td>Iso:</td>
                            <td><input class="spinner" name="camera_iso" value="{{ camera_iso }}"></td>
                        </tr>
                        <tr>
                            <td>Awb:</td>
                            <td><input type="text" name="camera_awb" value="{{ camera_awb }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>IT - Image Files</h3>
                <div>
                    <table>
                        <tr>
                            <td>Image filename part 1:</td>
                            <td><input type="text" name="files_multiimg1" value="{{ files_multiimg1 }}"></td>
                        </tr>
                        <tr>
                            <td>Image filename part 2:</td>
                            <td><input type="text" name="files_multiimg2" value="{{ files_multiimg2 }}"></td>
                        </tr>
                        <tr>
                            <td>Image count:</td>
                            <td><input class="spinner" name="files_multiimgcount" value="{{ files_multiimgcount }}"></td>
                        </tr>
                        <tr>
                            <td>Video filename:</td>
                            <td><input type="text" name="files_video" value="{{ files_video }}"></td>
                        </tr>
                        <tr>
                            <td>Stream number:</td>
                            <td><input class="spinner" name="files_stream" value="{{ files_stream }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>IT - Image Text</h3>
                <div>
                    <table>
                        <tr>
                            <td>Space left:</td>
                            <td><input class="spinner" name="imagetext_bordersize_left" value="{{ imagetext_bordersize_left }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Space top:</td>
                            <td><input class="spinner" name="imagetext_bordersize_top" value="{{ imagetext_bordersize_top }}"></td>
                        </tr>
                        <tr>
                            <td>Space bottom:</td>
                            <td><input class="spinner" name="imagetext_bordersize_bottom" value="{{ imagetext_bordersize_bottom }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Space right:</td>
                            <td><input class="spinner" name="imagetext_bordersize_right" value="{{ imagetext_bordersize_right }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Textspace:</td>
                            <td><input class="spinner" name="imagetext_textspace" value="{{ imagetext_textspace }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>IT - Image Filter</h3>
                <div>
                    <table>
                        <tr>
                            <td>Kernel size:</td>
                            <td><input class="spinner" name="filter_kernel_size" value="{{ filter_kernel_size }}"></td>
                        </tr>
                        <tr>
                            <td>HSV shift:</td>
                            <td><input class="spinner" name="filter_hsv_shift" value="{{ filter_hsv_shift }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>ET - Gyroskop</h3>
                <div>
                    <table>
                        <tr>
                            <td>Power level PWM:</td>
                            <td><input class="spinner" name="#" value="{{ 0 }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>ET - Engines</h3>
                <div>
                    <table>
                        <tr>
                            <td>Speed Left Engine (cm/s):</td>
                            <td><input class="spinner" name="#" value="{{ 0 }}"></td>
                        </tr>
                        <tr>
                            <td>Speed Right Engine (cm/s):</td>
                            <td><input class="spinner" name="#" value="{{ 0 }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>ET - Distance sensors</h3>
                <div>
                    <table>
                        <tr>
                            <td>ToF distance left (mm):</td>
                            <td><input class="spinner" name="#" value="{{ 0 }}"></td>
                        </tr>
                        <tr>
                            <td>ToF distance right (mm):</td>
                            <td><input class="spinner" name="#" value="{{ 0 }}"></td>
                        </tr>
                        <tr>
                            <td>ToF distance front (mm):</td>
                            <td><input class="spinner" name="#" value="{{ 0 }}"></td>
                        </tr>
                    </table>
                </div>
                <h3>ET - Servo</h3>
                <div>
                    <table>
                        <tr>
                            <td>Angle servo:</td>
                            <td><input class="spinner" name="#" value="{{ 0 }}"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <br>
            <button type="submit" id="save" value="save">Save</button>
        </form>
    </div>
</div>
<script>
    // Initialize jQuery UI controls
    $(".spinner").spinner();
    $("#serial_hello").prop('disabled', true);
    $("#serial_start").prop('disabled', true);
    $("#serial_letter_i").prop('disabled', true);
    $("#serial_parcours").prop('disabled', true);
    $("#serial_tof_l_i").prop('disabled', true);
    $("#serial_tof_r_i").prop('disabled', true);
    $("#serial_tof_f_i").prop('disabled', true);
    $("#serial_raupe_l_i").prop('disabled', true);
    $("#serial_raupe_r_i").prop('disabled', true);
    $("#serial_gyro_n").prop('disabled', true);
    $("#serial_gyro_g").prop('disabled', true);
    $("#serial_gyroskop_i").prop('disabled', true);
    $("#serial_servo_i").prop('disabled', true);
    $("#serial_gyrop_i").prop('disabled', true);
    $("#serial_gyroi_i").prop('disabled', true);
    $("#serial_gyrod_i").prop('disabled', true);
    $("#serial_tofp_i").prop('disabled', true);
    $("#serial_tofi_i").prop('disabled', true);
    $("#serial_tofd_i").prop('disabled', true);

    $("#letter_tolerance_i_gap").spinner('option', 'step', '0.1');
    $("#letter_tolerance_v_gap").spinner('option', 'step', '0.1');
    $("#letter_min_amount_processed_letters").spinner('option', 'step', '1');
    $("#settings_loglevel").spinner('option', 'step', '10');
    $("#settings_loglevel").spinner('option', 'min', '10');
    $("#settings_loglevel").spinner('option', 'max', '40');
    $(".spinner").spinner('option', 'min', '0');
    $(".spinner").spinner('option', 'max', '1000');
    $(".colorhsv").spectrum({preferredFormat: "hsv", showInput: true});
    $(".colorbgr").spectrum({preferredFormat: "rgb", showInput: true});
    $("#mask_trafficlight_red_low_l").spectrum("set", py_hsv2js_hsv([{{mask_trafficlight_red_low_l}}]));
    $("#mask_trafficlight_red_low_h").spectrum("set", py_hsv2js_hsv([{{mask_trafficlight_red_low_h}}]));
    $("#mask_trafficlight_red_high_l").spectrum("set", py_hsv2js_hsv([{{mask_trafficlight_red_high_l}}]));
    $("#mask_trafficlight_red_high_h").spectrum("set", py_hsv2js_hsv([{{mask_trafficlight_red_high_h}}]));
    $("#mask_trafficlight_green_l").spectrum("set", py_hsv2js_hsv([{{mask_trafficlight_green_l}}]));
    $("#mask_trafficlight_green_h").spectrum("set", py_hsv2js_hsv([{{mask_trafficlight_green_h}}]));
    $("#mask_letter_red_low_l").spectrum("set", py_hsv2js_hsv([{{mask_letter_red_low_l}}]));
    $("#mask_letter_red_low_h").spectrum("set", py_hsv2js_hsv([{{mask_letter_red_low_h}}]));
    $("#mask_letter_red_high_l").spectrum("set", py_hsv2js_hsv([{{mask_letter_red_high_l}}]));
    $("#mask_letter_red_high_h").spectrum("set", py_hsv2js_hsv([{{mask_letter_red_high_h}}]));
    $("#mask_letter_red_shift_l").spectrum("set", py_hsv2js_hsv([{{mask_letter_red_shift_l}}]));
    $("#mask_letter_red_shift_h").spectrum("set", py_hsv2js_hsv([{{mask_letter_red_shift_h}}]));
    $("#mask_letter_red_low_full").spectrum("set", py_hsv2js_hsvfull([{{mask_letter_red_low_full}}]));
    $("#mask_letter_red_high_full").spectrum("set", py_hsv2js_hsvfull([{{mask_letter_red_high_full}}]));
    $("#color_black").spectrum("set", bgr2rgb([{{color_black}}]));
    $("#color_black_low").spectrum("set", bgr2rgb([{{color_black_low}}]));
    $("#color_black_high").spectrum("set", bgr2rgb([{{color_black_high}}]));
    $("#color_white").spectrum("set", bgr2rgb([{{color_white}}]));
    $("#color_red").spectrum("set", bgr2rgb([{{color_red}}]));
    $("#color_green").spectrum("set", bgr2rgb([{{color_green}}]));
    $("#color_blue").spectrum("set", bgr2rgb([{{color_blue}}]));
    $("#color_cyan").spectrum("set", bgr2rgb([{{color_cyan}}]));
    $("#color_magenta").spectrum("set", bgr2rgb([{{color_magenta}}]));
    $("#color_yellow").spectrum("set", bgr2rgb([{{color_yellow}}]));
    $("#color_gray").spectrum("set", bgr2rgb([{{color_gray}}]));
    $("#color_orange").spectrum("set", bgr2rgb([{{color_orange}}]));
    $("#accordion").accordion({heightStyle: "content"});
    $(":button").button();
    $("#tabs").tabs();

    //Brauchts für root pfad von script (values lesen)
    $SCRIPT_ROOT ={{ request.script_root|tojson |safe}}

    // Convert HSV color values from Config.ini to HSV color values for jQuery Spectrum control
    // Ex.: HSV color value from Config.ini: 0, 69, 61 -> HSV color value for jQuery Spectrum control: hsv(120, 76%, 80%)
    //                                       0-180, 0-255, 0-255 -> hsv(0-360, 0-100%, 0-100%)
    function py_hsv2js_hsv(inputcolor) {
        inputcolor[0] = inputcolor[0] * 2;
        inputcolor[1] = Math.round(100 * inputcolor[1] / 255);
        inputcolor[2] = Math.round(100 * inputcolor[2] / 255);
        return 'hsv(' + inputcolor[0] + ', ' + inputcolor[1] + '%, ' + inputcolor[2] + '%)';
    }

    // Convert HSV color values from Config.ini to HSV color values for jQuery Spectrum control
    // Ex.: HSV color value from Config.ini: 0, 69, 61 -> HSV color value for jQuery Spectrum control: hsv(0, 27%, 24%)
    //                                       0-255, 0-255, 0-255 -> hsv(0-360, 0-100%, 0-100%)
    function py_hsv2js_hsvfull(inputcolor) {
        inputcolor[0] = Math.round(inputcolor[0] / 255 * 360);
        inputcolor[1] = Math.round(100 * inputcolor[1] / 255);
        inputcolor[2] = Math.round(100 * inputcolor[2] / 255);
        return 'hsv(' + inputcolor[0] + ', ' + inputcolor[1] + '%, ' + inputcolor[2] + '%)';
    }

    // Convert HSV color values from jQuery Spectrum control to HSV color values for Config.ini
    // Ex.: HSV color value from jQuery Spectrum control: hsv(0, 27%, 24%) -> HSV color value for Config.ini: 0, 69, 61
    //                                                    hsv(0-360, 0-100%, 0-100%) -> 0-180, 0-255, 0-255
    function js_hsv2py_hsv(inputcolor) {
        inputcolor = inputcolor.substring(4, inputcolor.length - 1);
        inputcolor = inputcolor.split(', ');
        inputcolor[0] = inputcolor[0] / 2;
        inputcolor[1] = inputcolor[1].substring(0, inputcolor[1].length - 1);
        inputcolor[1] = Math.round(255 * inputcolor[1] / 100);
        inputcolor[2] = inputcolor[2].substring(0, inputcolor[2].length - 1);
        inputcolor[2] = Math.round(255 * inputcolor[2] / 100);
        return inputcolor[0] + ', ' + inputcolor[1] + ', ' + inputcolor[2];
    }

    // Convert HSV color values from jQuery Spectrum control to HSV color values for Config.ini
    // Ex.: HSV color value from jQuery Spectrum control: hsv(0, 27%, 24%) -> HSV color value for Config.ini: 0, 69, 61
    //                                                    hsv(0-360, 0-100%, 0-100%) -> 0-180, 0-255, 0-255
    function js_hsv2py_hsvfull(inputcolor) {
        inputcolor = inputcolor.substring(4, inputcolor.length - 1);
        inputcolor = inputcolor.split(', ');
        inputcolor[0] = Math.round(inputcolor[0] / 360 * 255);
        inputcolor[1] = inputcolor[1].substring(0, inputcolor[1].length - 1);
        inputcolor[1] = Math.round(255 * inputcolor[1] / 100);
        inputcolor[2] = inputcolor[2].substring(0, inputcolor[2].length - 1);
        inputcolor[2] = Math.round(255 * inputcolor[2] / 100);
        return inputcolor[0] + ', ' + inputcolor[1] + ', ' + inputcolor[2];
    }
    // Convert BGR color value from Config.ini to RGB color value for jQuery Spectrum control
    // Ex.: BGR color value from Config.ini: 255, 0, 0 -> RGB color value for jQuery Spectrum control 0, 0, 255
    //                                       0-255, 0-255, 0-255 -> 0-255, 0-255, 0-255
    function bgr2rgb(inputcolor) {
        inputcolor = inputcolor.reverse();
        return 'rgb(' + inputcolor[0] + ', ' + inputcolor[1] + ', ' + inputcolor[2] + ')';
    }

    // Convert RGB color value from jQuery Spectrum control to BGR color value for Config.ini
    // Ex.: RGB color value from jQuery Spectrum control: 255, 0, 0 -> BGR color value for Config.ini 0, 0, 255
    //                                                    0-255, 0-255, 0-255 -> 0-255, 0-255, 0-255
    function rgb2bgr(inputcolor) {
        inputcolor = inputcolor.substring(4, inputcolor.length - 1);
        inputcolor = inputcolor.split(', ');
        inputcolor = inputcolor.reverse();
        return inputcolor[0] + ', ' + inputcolor[1] + ', ' + inputcolor[2];
    }


    // Function to Update all Debug values
     var errorstate_before = "Null";

     function updateDebugVals(){
        $.getJSON($SCRIPT_ROOT + "/get_serialvalues", null, function (data) {
            //hello checked if value 1
            if(data.result.serial_hello == 1){
                $("#serial_hello").prop('checked', true);
            }
            else{
                $("#serial_hello").prop('checked', false);
            }
            //start checked if value 1
            if(data.result.serial_start == 1){
                $("#serial_start").prop('checked', true);
            }
            else {
                $("#serial_start").prop('checked', false);
            }
            //course right false 0, left true 1
            if(data.result.serial_course == 0){
                $("#serial_course_r").prop('checked', true);
            }

            if(data.result.serial_course == 1){
                $("#serial_course_l").prop('checked', true);
            }

            $("#serial_letter_i").val(data.result.serial_letter);
            $("#serial_parcours").val(data.result.serial_parcstate);

            if (!(errorstate_before.toString() == data.result.serial_errstate.toString())){
                errorstate_before = data.result.serial_errstate;
                $('#serial_errors').append(data.result.serial_errstate);
            }

            $("#serial_tof_l_i").val(data.result.serial_tof_l_i);
            $("#serial_tof_r_i").val(data.result.serial_tof_r_i);
            $("#serial_tof_f_i").val(data.result.serial_tof_f_i);
            $("#serial_gyroskop_i").val(data.result.serial_gyroskop_i);
            $("#serial_gyro_n").val(data.result.serial_gyro_n);
            $("#serial_gyro_g").val(data.result.serial_gyro_g);
            $("#serial_raupe_l_i").val(data.result.serial_raupe_l_i);
            $("#serial_raupe_r_i").val(data.result.serial_raupe_r_i);
            $("#serial_servo_i").val(data.result.serial_servo_i);
        });
     }



    // Function for saving and load current active tab when changing site
    var index = 'qpsstats-active-tab';
    //  Define friendly data store name
    var dataStore = window.sessionStorage;
    var oldIndex = 0;
    //  Start magic!
    try {
        // getter: Fetch previous value
        oldIndex = dataStore.getItem(index);
    } catch (e) {
    }

    $("#tabs").tabs({
        active: oldIndex,
        activate: function (event, ui) {
            //  Get future value
            var newIndex = ui.newTab.parent().children().index(ui.newTab);
            //  Set future value
            try {
                dataStore.setItem(index, newIndex);
            } catch (e) {
            }
        }
    });

    //Function when steering tab is activated
    var intervallID = null;

    $("#tabs").tabs({
        activate: function(event, ui) {
            clearInterval(intervallID);
            //If tab Steuerung
            if (ui.newPanel[0].id == "tabs-5") {
                //Run function updateDebugVals ever x milliseconds for IST-Werte
                intervallID = setInterval(updateDebugVals, 1000);
            }
        }
    });

    //TODO: Try on focus lost event for SOLL-Werte
    $("#serial_letter_s").focusout(function(){
        alert("hello");
        
    });

    // Variable to hold request
    var request;

    // Function when Save Button is clicked
    $("#save_form").submit(function (event) {
        // Prevent default posting of form - put here to work in case of errors
        event.preventDefault();

        // Abort any pending request
        if (request) {
            request.abort();
        }

        // Get all values from the html controls
        var mask_trafficlight_red_low_l = $("#mask_trafficlight_red_low_l").val();
        var mask_trafficlight_red_low_h = $("#mask_trafficlight_red_low_h").val();
        var mask_trafficlight_red_high_l = $("#mask_trafficlight_red_high_l").val();
        var mask_trafficlight_red_high_h = $("#mask_trafficlight_red_high_h").val();
        var mask_trafficlight_green_l = $("#mask_trafficlight_green_l").val();
        var mask_trafficlight_green_h = $("#mask_trafficlight_green_h").val();
        var mask_letter_red_low_l = $("#mask_letter_red_low_l").val();
        var mask_letter_red_low_h = $("#mask_letter_red_low_h").val();
        var mask_letter_red_high_l = $("#mask_letter_red_high_l").val();
        var mask_letter_red_high_h = $("#mask_letter_red_high_h").val();
        var mask_letter_red_shift_l = $("#mask_letter_red_shift_l").val();
        var mask_letter_red_shift_h = $("#mask_letter_red_shift_h").val();
        var mask_letter_red_low_full = $("#mask_letter_red_low_full").val();
        var mask_letter_red_high_full = $("#mask_letter_red_high_full").val();
        var color_black = $("#color_black").val();
        var color_black_low = $("#color_black_low").val();
        var color_black_high = $("#color_black_high").val();
        var color_white = $("#color_white").val();
        var color_red = $("#color_red").val();
        var color_green = $("#color_green").val();
        var color_blue = $("#color_blue").val();
        var color_cyan = $("#color_cyan").val();
        var color_magenta = $("#color_magenta").val();
        var color_yellow = $("#color_yellow").val();
        var color_gray = $("#color_gray").val();
        var color_orange = $("#color_orange").val();

        // Set html control values to Config.ini format for sending them with serialize
        $("#mask_trafficlight_red_low_l").val(js_hsv2py_hsv(mask_trafficlight_red_low_l));
        $("#mask_trafficlight_red_low_h").val(js_hsv2py_hsv(mask_trafficlight_red_low_h));
        $("#mask_trafficlight_red_high_l").val(js_hsv2py_hsv(mask_trafficlight_red_high_l));
        $("#mask_trafficlight_red_high_h").val(js_hsv2py_hsv(mask_trafficlight_red_high_h));
        $("#mask_trafficlight_green_l").val(js_hsv2py_hsv(mask_trafficlight_green_l));
        $("#mask_trafficlight_green_h").val(js_hsv2py_hsv(mask_trafficlight_green_h));
        $("#mask_letter_red_low_l").val(js_hsv2py_hsv(mask_letter_red_low_l));
        $("#mask_letter_red_low_h").val(js_hsv2py_hsv(mask_letter_red_low_h));
        $("#mask_letter_red_high_l").val(js_hsv2py_hsv(mask_letter_red_high_l));
        $("#mask_letter_red_high_h").val(js_hsv2py_hsv(mask_letter_red_high_h));
        $("#mask_letter_red_shift_l").val(js_hsv2py_hsv(mask_letter_red_shift_l));
        $("#mask_letter_red_shift_h").val(js_hsv2py_hsv(mask_letter_red_shift_h));
        $("#mask_letter_red_low_full").val(js_hsv2py_hsvfull(mask_letter_red_low_full));
        $("#mask_letter_red_high_full").val(js_hsv2py_hsvfull(mask_letter_red_high_full));
        $("#color_black").val(rgb2bgr(color_black));
        $("#color_black_low").val(rgb2bgr(color_black_low));
        $("#color_black_high").val(rgb2bgr(color_black_high));
        $("#color_white").val(rgb2bgr(color_white));
        $("#color_red").val(rgb2bgr(color_red));
        $("#color_green").val(rgb2bgr(color_green));
        $("#color_blue").val(rgb2bgr(color_blue));
        $("#color_cyan").val(rgb2bgr(color_cyan));
        $("#color_magenta").val(rgb2bgr(color_magenta));
        $("#color_yellow").val(rgb2bgr(color_yellow));
        $("#color_gray").val(rgb2bgr(color_gray));
        $("#color_orange").val(rgb2bgr(color_orange));

        // setup some local variables
        var $form = $(this);

        // Let's select and cache all the fields
        var $inputs = $form.find("input, select, button, textarea");

        // Serialize the data in the form
        var serializedData = $form.serialize();

        // Let's disable the inputs for the duration of the Ajax request.
        // Note: we disable elements AFTER the form data has been serialized.
        // Disabled form elements will not be serialized.
        $inputs.prop("disabled", true);

        // Fire off the request to /form.php
        request = $.ajax({
            url: "/save",
            type: "post",
            data: serializedData
        });

        // Callback handler that will be called on success
        request.done(function (response, textStatus, jqXHR) {
            // Log a message to the console
            $.toast(response);
        });

        // Callback handler that will be called on failure
        request.fail(function (jqXHR, textStatus, errorThrown) {
            // Log the error to the console
            $.toast("The following error occurred: " + textStatus, errorThrown);
        });

        // Callback handler that will be called regardless
        // if the request failed or succeeded
        request.always(function () {
            // Reenable the inputs
            $inputs.prop("disabled", false);
        });

        // Set html control values to jQuery Spectrum understandable format after sending them with serialize
        $("#mask_trafficlight_red_low_l").val(mask_trafficlight_red_low_l);
        $("#mask_trafficlight_red_low_h").val(mask_trafficlight_red_low_h);
        $("#mask_trafficlight_red_high_l").val(mask_trafficlight_red_high_l);
        $("#mask_trafficlight_red_high_h").val(mask_trafficlight_red_high_h);
        $("#mask_trafficlight_green_l").val(mask_trafficlight_green_l);
        $("#mask_trafficlight_green_h").val(mask_trafficlight_green_h);
        $("#mask_letter_red_low_l").val(mask_letter_red_low_l);
        $("#mask_letter_red_low_h").val(mask_letter_red_low_h);
        $("#mask_letter_red_high_l").val(mask_letter_red_high_l);
        $("#mask_letter_red_high_h").val(mask_letter_red_high_h);
        $("#mask_letter_red_shift_l").val(mask_letter_red_shift_l);
        $("#mask_letter_red_shift_h").val(mask_letter_red_shift_h);
        $("#mask_letter_red_low_full").val(mask_letter_red_low_full);
        $("#mask_letter_red_high_full").val(mask_letter_red_high_full);
        $("#color_black").val(color_black);
        $("#color_black_low").val(color_black_low);
        $("#color_black_high").val(color_black_high);
        $("#color_white").val(color_white);
        $("#color_red").val(color_red);
        $("#color_green").val(color_green);
        $("#color_blue").val(color_blue);
        $("#color_cyan").val(color_cyan);
        $("#color_magenta").val(color_magenta);
        $("#color_yellow").val(color_yellow);
        $("#color_gray").val(color_gray);
        $("#color_orange").val(color_orange);
    });
</script>
</body>
</html>
